In [ ]:
import pandas as pd

reading the dataset

In [2]:
df = pd.read_csv('Ambit Data Analyst Assignment.csv')

In [3]:
df1 = pd.read_csv('Daily Revenue.csv')

C:\Users\Dell\AppData\Local\Temp\ipykernel_13464\4196790625.py:1: DtypeWarning: Columns (1,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('Daily Revenue.csv')

having its overview

In [12]:
df.head()

,Meeting Code,Client Code,Client Name,Client City,Client Country,Country Code,Phone No.,Meeting Type,Meeting Start Time,Meeting End Time,Date,Analyst,Sales Representative
0,1,P1Q2R,Olivier Armstrong,Mumbai,India,49,4599463880,In - person Meeting,16:31,16:44,01-Feb-06,Izo Motobe,Lex Luthor
1,2,Q9R0S,Sekke Bronzazza,Hong Kong,Hong Kong,52,7848986685,Roadshow,15:53,17:11,01-Feb-06,Izo Motobe,Superman
2,3,E1F2G,Gon Freecss,Mumbai,India,86,3723514473,Telephone,14:20,15:31,01-Feb-06,Izo Motobe,Lex Luthor
3,4,Y7Z8A,Hinami Fueguchi,London,UK,82,1805296323,Roadshow,18:17,19:15,01-Feb-06,Miyamoto Musash,Aquaman
4,5,N7O8P,Ruka Urushibara,London,UK,39,1045673119,Roadshow,17:25,17:42,01-Feb-06,Katsumi Orochi,Batman

In [37]:
df1.head()

,Transction Code,Clinet Code,Client Company Name,Revenue (Rs.),Date
0,1.0,P1Q2R,Fullmetal Alchemist: Brotherhood,104.96,01-Feb-06
1,2.0,T1U2V,Fairy Tail,"1,202.25",01-Feb-06
2,3.0,I1J2K,US Capitals AMC,381.67,01-Feb-06
3,4.0,H3I4J,Jujutsu Kaisen,"1,870.16",01-Feb-06
4,5.0,G5H6I,Bleach,267.17,01-Feb-06

the number of rows and columns in the dataset

In [18]:
df.shape

(239050, 13)

In [38]:
df1.shape

(239050, 5)

getting all the column names

In [13]:
df.columns

Index(['Meeting Code', 'Client Code', 'Client Name', 'Client City',
       'Client Country', 'Country Code', 'Phone No.', 'Meeting Type',
       'Meeting Start Time', 'Meeting End Time', 'Date', 'Analyst',
       'Sales Representative'],
      dtype='object')

In [39]:
df1.columns

Index(['Transction Code', 'Clinet Code', 'Client Company Name',
       'Revenue (Rs.)', 'Date'],
      dtype='object')

having an overview of the data types and null values in each column

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239050 entries, 0 to 239049
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Meeting Code          239050 non-null  int64
 1   Client Code           239050 non-null  object
 2   Client Name           239050 non-null  object
 3   Client City           239050 non-null  object
 4   Client Country        239050 non-null  object
 5   Country Code          239050 non-null  int64
 6   Phone No.             239050 non-null  int64
 7   Meeting Type          239050 non-null  object
 8   Meeting Start Time    239050 non-null  object
 9   Meeting End Time      239050 non-null  object
 10  Date                  239050 non-null  object
 11  Analyst               239050 non-null  object
 12  Sales Representative  239050 non-null  object
dtypes: int64(3), object(10)
memory usage: 23.7+ MB

In [42]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239050 entries, 0 to 239049
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction Code     76512 non-null  float64
 1   Client Code          76512 non-null  object
 2   Client Company Name  76512 non-null  object
 3   Revenue (Rs.)        76512 non-null  object
 4   Date                 76512 non-null  object
dtypes: float64(1), object(4)
memory usage: 9.1+ MB

changing data-types of some columns for a better and smoother analysis.

In [4]:
df['Date'] = pd.to_datetime(df['Date'])
df['Meeting Start Time'] = pd.to_datetime(df['Meeting Start Time'])
df['Meeting End Time'] = pd.to_datetime(df['Meeting End Time'])

C:\Users\Dell\AppData\Local\Temp\ipykernel_13464\2167482792.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\Dell\AppData\Local\Temp\ipykernel_13464\2167482792.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Meeting Start Time'] = pd.to_datetime(df['Meeting Start Time'])
C:\Users\Dell\AppData\Local\Temp\ipykernel_13464\2167482792.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Meeting End Time'] = pd.to_datetime(df['Meeting End Time'])

In [5]:
df1.rename(columns={'Clinet Code': 'Client Code', 'Transction Code': 'Transaction Code'}, inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239050 entries, 0 to 239049
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Meeting Code          239050 non-null  int64
 1   Client Code           239050 non-null  object
 2   Client Name           239050 non-null  object
 3   Client City           239050 non-null  object
 4   Client Country        239050 non-null  object
 5   Country Code          239050 non-null  int64
 6   Phone No.             239050 non-null  int64
 7   Meeting Type          239050 non-null  object
 8   Meeting Start Time    239050 non-null  datetime64[ns]
 9   Meeting End Time      239050 non-null  datetime64[ns]
 10  Date                  239050 non-null  datetime64[ns]
 11  Analyst               239050 non-null  object
 12  Sales Representative  239050 non-null  object
dtypes: datetime64[ns](3), int64(3), object(7)
memory usage: 23.7+ MB

In [6]:
df1['Date'] = pd.to_datetime(df1['Date'])

C:\Users\Dell\AppData\Local\Temp\ipykernel_13464\1148610173.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df1['Date'] = pd.to_datetime(df1['Date'])

checking for null values in each column

In [20]:
df.isnull().sum()

Meeting Code            0
Client Code             0
Client Name             0
Client City             0
Client Country          0
Country Code            0
Phone No.               0
Meeting Type            0
Meeting Start Time      0
Meeting End Time        0
Date                    0
Analyst                 0
Sales Representative    0
dtype: int64

In [44]:
df1.isnull().sum()

Transaction Code       162538
Client Code            162538
Client Company Name    162538
Revenue (Rs.)          162538
Date                   162538
dtype: int64

NOW OUR DATASET IS READY FOR FURTHER ANALYSIS, LETS BEGIN!

Q1: Highest leaves by an Analyst in the between Sep 2008 - Mar 2013

In [ ]:
start_date = '2008-09-01'
end_date = '2013-03-31'
mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
filtered_df = df[mask]

all_dates = pd.date_range(start=start_date, end=end_date)

analysts = filtered_df['Analyst'].dropna().unique()

leave_counts = {}

for analyst in analysts:
    analyst_dates = filtered_df[filtered_df['Analyst'] == analyst]['Date'].dt.date.unique()
    
    leaves = set(all_dates.date) - set(analyst_dates)
    leave_counts[analyst] = len(leaves)

leave_df = pd.DataFrame(list(leave_counts.items()), columns=['Analyst', 'Leave Days'])

max_leave = leave_df.sort_values(by='Leave Days', ascending=False).head(1)

print(max_leave)

      Analyst  Leave Days
0  Jack Hanma         548

Q2: Least Revenue Contribution from a Sales representative between Jan 2020 to Dec 2020

In [16]:
start_date = '2020-01-01'
end_date = '2020-12-31'

df_2020 = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
df1_2020 = df1[(df1['Date'] >= start_date) & (df1['Date'] <= end_date)]

merged_df = pd.merge(df_2020, df1_2020, on='Client Code', how='inner')

merged_df['Revenue (Rs.)'] = pd.to_numeric(merged_df['Revenue (Rs.)'], errors='coerce')

revenue_by_salesrep = merged_df.groupby('Sales Representative')['Revenue (Rs.)'].sum().reset_index()

least_revenue_salesrep = revenue_by_salesrep.sort_values(by='Revenue (Rs.)', ascending=True).head(1)

print(least_revenue_salesrep)

  Sales Representative  Revenue (Rs.)
1               Batman    18094309.05

Q3: In which country Baki Hanma had the most "In-person" meeting between Apr 2017 to Mar 2019

In [ ]:
start_date = '2017-04-01'
end_date = '2019-03-31'

filtered_df = df[
    (df['Analyst'] == 'Baki Hanma') &
    (df['Meeting Type']== 'In - person Meeting') &
    (df['Date'] >= start_date) &
    (df['Date'] <= end_date)
]

country_meeting_counts = filtered_df.groupby('Client Country').size().reset_index(name='Meeting Count')

top_country = country_meeting_counts.sort_values(by='Meeting Count', ascending=False).head(1)

print(top_country)

  Client Country  Meeting Count
4             US             59

Q4: Which client preferred the "Zoom meetings" the most?

In [ ]:
df.columns = df.columns.str.strip()

zoom_meetings = df[df['Meeting Type'] == 'Zoom Meeting']

zoom_meeting_counts = zoom_meetings.groupby('Client Name').size().reset_index(name='Zoom Meeting Count')

top_client = zoom_meeting_counts.sort_values(by='Zoom Meeting Count', ascending=False).head(1)

print(top_client)

    Client Name  Zoom Meeting Count
175     Krillin                 142

Q5: Which city contribute the highest Revenue between Jun22 to Mar 25?

In [ ]:
s_date = '2022-06-01'
e_date = '2025-03-31'

df_country = df[(df['Date'] >= s_date) & (df['Date'] <= e_date)]
df1_country = df1[(df1['Date'] >= s_date) & (df1['Date'] <= e_date)]

combined_df = pd.merge(df_country, df1_country, on='Client Code', how='inner')

In [12]:
combined_df.head()

,Meeting Code,Client Code,Client Name,Client City,Client Country,Country Code,Phone No.,Meeting Type,Meeting Start Time,Meeting End Time,Date_x,Analyst,Sales Representative,Transaction Code,Client Company Name,Revenue (Rs.),Date_y
0,202351,Z5A6B,Sakurai,Singapore,Singapore,966,7784071747,In - person Meeting,2025-05-21 19:01:00,2025-05-21 20:16:00,2022-06-01,Yujiro Hanma,Aquaman,64755.0,My Hero Academia,NaN,2022-06-01
1,202351,Z5A6B,Sakurai,Singapore,Singapore,966,7784071747,In - person Meeting,2025-05-21 19:01:00,2025-05-21 20:16:00,2022-06-01,Yujiro Hanma,Aquaman,64791.0,Naruto,NaN,2022-06-03
2,202351,Z5A6B,Sakurai,Singapore,Singapore,966,7784071747,In - person Meeting,2025-05-21 19:01:00,2025-05-21 20:16:00,2022-06-01,Yujiro Hanma,Aquaman,64813.0,Demon Slayer,NaN,2022-06-06
3,202351,Z5A6B,Sakurai,Singapore,Singapore,966,7784071747,In - person Meeting,2025-05-21 19:01:00,2025-05-21 20:16:00,2022-06-01,Yujiro Hanma,Aquaman,64829.0,Attack on Titan,NaN,2022-06-07
4,202351,Z5A6B,Sakurai,Singapore,Singapore,966,7784071747,In - person Meeting,2025-05-21 19:01:00,2025-05-21 20:16:00,2022-06-01,Yujiro Hanma,Aquaman,64844.0,Steins;Gate,NaN,2022-06-08

In [13]:
combined_df['Revenue (Rs.)'] = pd.to_numeric(combined_df['Revenue (Rs.)'], errors='coerce')

In [14]:
revenue_by_city = (
    combined_df.groupby('Client City')['Revenue (Rs.)']
    .sum()
    .reset_index()
    .sort_values(by='Revenue (Rs.)', ascending=False)
)

In [15]:
top_city = revenue_by_city.head(1)
print("City with highest revenue between June 2022 and March 2025:")
print(top_city)

City with highest revenue between June 2022 and March 2025:
  Client City  Revenue (Rs.)
3      Mumbai   3.510989e+08